USE [master]
GO
/****** Object:  Database [AkirasBoutiques]    Script Date: 26/7/2022 17:11:20 ******/
CREATE DATABASE [AkirasBoutiques]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AkirasBoutiques', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AkirasBoutiques.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AkirasBoutiques_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AkirasBoutiques_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AkirasBoutiques].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AkirasBoutiques]
GO
/****** Object:  Table [dbo].[categoria]    Script Date: 26/7/2022 17:11:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoria](
	[id_categoria] [int] NOT NULL,
	[nombre] [text] NOT NULL,
	[descripcion] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 26/7/2022 17:11:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[id_cliente] [int] NOT NULL,
	[nombre] [text] NOT NULL,
	[apellido] [text] NOT NULL,
	[direccion] [text] NOT NULL,
	[fec_nac] [date] NOT NULL,
	[telefono] [int] NOT NULL,
	[email] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle]    Script Date: 26/7/2022 17:11:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle](
	[id_detalle] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[factura]    Script Date: 26/7/2022 17:11:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factura](
	[id_factura] [int] NOT NULL,
	[id_cliente] [int] NOT NULL,
	[fecha] [date] NULL,
	[id_detalle] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto]    Script Date: 26/7/2022 17:11:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[id_producto] [int] NOT NULL,
	[nombre] [text] NOT NULL,
	[precio] [int] NOT NULL,
	[stock] [int] NOT NULL,
	[id_categoria] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[categoria] ([id_categoria], [nombre], [descripcion]) VALUES (1, N'Blusa', N'Prenda abierta de tela fina , similar a la camisa , que usan las mujeres y los niños , y que cubre la parte superior del cuerpo')
INSERT [dbo].[categoria] ([id_categoria], [nombre], [descripcion]) VALUES (2, N'Falda', N'Prenda de vestir que cuelga de la cintura y cubre las piernas, al menos en parte. ')
INSERT [dbo].[categoria] ([id_categoria], [nombre], [descripcion]) VALUES (3, N'Pantalón', N'Prenda de vestir que se ajusta a la cintura y llega generalmente hasta el pie , cubriendo cada pierna separadamente .')
GO
INSERT [dbo].[cliente] ([id_cliente], [nombre], [apellido], [direccion], [fec_nac], [telefono], [email]) VALUES (0, N'María Antonieta', N'García Meléndez ', N'Calle las Girasol #305 col. Jardines ', CAST(N'1989-06-15' AS Date), 1828921321, N'mariantonia@gmail.com')
INSERT [dbo].[cliente] ([id_cliente], [nombre], [apellido], [direccion], [fec_nac], [telefono], [email]) VALUES (1, N'Óscar Germán', N'Wong Tabares ', N'Calle Revolución #879 col. México', CAST(N'1994-01-28' AS Date), 2035672143, N'germanwong@gmail.com')
INSERT [dbo].[cliente] ([id_cliente], [nombre], [apellido], [direccion], [fec_nac], [telefono], [email]) VALUES (2, N'Valentina Anastasia', N'Huerta Corral', N'Calle Flamenco #3493 col. Aviar', CAST(N'1992-07-03' AS Date), 0, N'valehue92@gmail.com')
GO
INSERT [dbo].[detalle] ([id_detalle], [id_producto], [cantidad], [precio]) VALUES (1, 32, 4, 1600)
INSERT [dbo].[detalle] ([id_detalle], [id_producto], [cantidad], [precio]) VALUES (2, 8, 3, 690)
INSERT [dbo].[detalle] ([id_detalle], [id_producto], [cantidad], [precio]) VALUES (3, 39, 4, 200)
GO
INSERT [dbo].[factura] ([id_factura], [id_cliente], [fecha], [id_detalle]) VALUES (1, 9, CAST(N'2021-12-22' AS Date), 1)
INSERT [dbo].[factura] ([id_factura], [id_cliente], [fecha], [id_detalle]) VALUES (2, 9, CAST(N'2021-10-11' AS Date), 2)
INSERT [dbo].[factura] ([id_factura], [id_cliente], [fecha], [id_detalle]) VALUES (3, 4, CAST(N'2021-12-07' AS Date), 3)
GO
INSERT [dbo].[producto] ([id_producto], [nombre], [precio], [stock], [id_categoria]) VALUES (1, N'Blusa de flores', 200, 70, 1)
INSERT [dbo].[producto] ([id_producto], [nombre], [precio], [stock], [id_categoria]) VALUES (2, N'Blusa tipo escocesa ', 150, 35, 1)
INSERT [dbo].[producto] ([id_producto], [nombre], [precio], [stock], [id_categoria]) VALUES (3, N'Blusa rayada manga larga', 100, 37, 1)
GO
ALTER TABLE [dbo].[detalle]  WITH CHECK ADD  CONSTRAINT [id_producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[producto] ([id_producto])
GO
ALTER TABLE [dbo].[detalle] CHECK CONSTRAINT [id_producto]
GO
ALTER TABLE [dbo].[factura]  WITH CHECK ADD  CONSTRAINT [id_cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[factura] CHECK CONSTRAINT [id_cliente]
GO
ALTER TABLE [dbo].[factura]  WITH CHECK ADD  CONSTRAINT [id_detalle] FOREIGN KEY([id_detalle])
REFERENCES [dbo].[detalle] ([id_detalle])
GO
ALTER TABLE [dbo].[factura] CHECK CONSTRAINT [id_detalle]
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD  CONSTRAINT [id_categoria] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[categoria] ([id_categoria])
GO
ALTER TABLE [dbo].[producto] CHECK CONSTRAINT [id_categoria]
GO
USE [master]
GO



--DE AQUI EN ADELANTE ESTA DESARROLLADO TOTALMENTE POR BRUNO ALBERTO GERMAN MEZA 22-09-2025

USE AkirasBoutiques

SELECT * FROM [dbo].[detalle]


SELECT @@SERVERNAME

sp_helpserver

EXEC sp_changedbowner 'sa';

ALTER TABLE Empleados
ALTER COLUMN direccion_empleado VARCHAR (40);

ALTER TABLE Empleados
ALTER COLUMN correo_empleado VARCHAR (40); --Se cambio el número de caracteres porque me daba error al introducir el correo, se quedaba corto en caracteres.

ALTER TABLE Empleados
ADD Nombre_encargado_suc VARCHAR (40);

ALTER TABLE Sucursales
ALTER COLUMN direccion_sucursal VARCHAR (50); --Se cambio el número de caracteres porque me daba error al introducir la calle, se quedaba corto en caracteres.

EXEC sp_rename 'Empleados.Nombre_encargado_suc', 'nombre_encargado_suc', 'COLUMN';

CREATE TABLE Sucursales (
numero_sucursal INT PRIMARY KEY,
nombre_sucursal VARCHAR (40),
nombre_encargado VARCHAR (40),
direccion_sucursal VARCHAR (50),
telefono_sucursal VARCHAR (10), --Utilizo la recomendación del profesor Miguel Angel Rodriguez donde pones 10 digitos para el celular ahorrando 1 caracter con el int
ciudad_sucursal VARCHAR (20),
estado_sucursal VARCHAR (20)
)

CREATE TABLE Empleados (
nombre_empleado varchar (40) PRIMARY KEY,
direccion_empleado varchar (40),
telefono_empleado VARCHAR (10),
edad_empleado INT,
numero_sucursal INT,
correo_empleado VARCHAR (30),
contraseña VARCHAR (20),
nombre_encargado varchar (40),
FOREIGN KEY (numero_sucursal) REFERENCES Sucursales(numero_sucursal)
);

ALTER TABLE Empleados
ALTER COLUMN direccion_empleado VARCHAR (40);

ALTER TABLE Empleados
ALTER COLUMN correo_empleado VARCHAR (40); --Se cambio el número de caracteres porque me daba error al introducir el correo, se quedaba corto en caracteres.

ALTER TABLE Empleados
ADD Nombre_encargado_suc VARCHAR (40);

ALTER TABLE Sucursales
ALTER COLUMN direccion_sucursal VARCHAR (50); --Se cambio el número de caracteres porque me daba error al introducir la calle, se quedaba corto en caracteres.

EXEC sp_rename 'Sucursales.Estado_sucursal','estado_sucursal','COLUMN'; --Cambiar nombre de columna= 'TABLA.COLUMNA', 'NOMBRE NUEVO', 'ES UNA COLUMNA';








DELETE FROM Empleados --Borre los datos ingresados, porque tenian error.


SELECT * FROM categoria  --Selecciona la tabla y muestra toda la información de esta, si es que tiene
SELECT * FROM cliente
SELECT * FROM detalle
SELECT * FROM factura
SELECT * FROM producto


SELECT * FROM Empleados
SELECT * FROM Sucursales


DROP TABLE Empleados --BORRA TABLA COMPLETA
DROP TABLE Sucursales --BORRA TABLA COMPLETA



-- Voy a practicar el uso de la foreing key como lo enseño el profesor Miguel.



CREATE TABLE Sucursales (
numero_sucursal INT PRIMARY KEY,
nombre_sucursal VARCHAR (40),
nombre_encargado VARCHAR (40),
direccion_sucursal VARCHAR (50),
telefono_sucursal VARCHAR (10), --Utilizo la recomendación del profesor Miguel Angel Rodriguez donde pones 10 digitos para el celular ahorrando 1 caracter con el int
ciudad_sucursal VARCHAR (20),
estado_sucursal VARCHAR (20)
)

CREATE TABLE Empleados (
nombre_empleado varchar (40) PRIMARY KEY,
direccion_empleado varchar (40),
telefono_empleado VARCHAR (10),
edad_empleado INT,
numero_sucursal INT,
correo_empleado VARCHAR (30),
contraseña VARCHAR (20),
nombre_encargado varchar (40),
);

--Ahora voy a hacer las relaciones de PK y FK
ALTER TABLE Empleados --Se pone la tabla que vas a agregarle la FK
ADD CONSTRAINT FK_Empleados_Sucursales --FK_TABLA DONDE ESTA LA FK_ TABLA DONDE ESTA LA PK
FOREIGN KEY (numero_sucursal) REFERENCES Sucursales (numero_sucursal) -- Tipo y a quien convertiras en FK y referencia (de donde viene tabla y columna a convertir)
ON UPDATE CASCADE
ON DELETE CASCADE




--CONSULTAS--
SELECT * FROM categoria
SELECT * FROM cliente
SELECT * FROM detalle
SELECT * FROM Empleados
SELECT * FROM factura
SELECT * FROM producto
SELECT * FROM Sucursales



--1.- Seleccionar los clientes del año 2021 en base a la fecha de la factura
SELECT * FROM factura
WHERE YEAR (fecha) = 2021
ORDER BY fecha ASC;

--2.- Seleccionar los clientes de 2022 (hasta el momento) en base a la fecha de la factura.
SELECT * FROM factura
WHERE YEAR (fecha) = 2022
ORDER BY fecha ASC;

--3.- Seleccionar los clientes de diciembre de 2021.
SELECT * FROM factura
WHERE MONTH (fecha) = 12 
AND YEAR (fecha) = 2021
ORDER BY fecha ASC;

--4.- ¿Qué compras han realizado los siguientes clientes?:
--Valentina Anastasia Huerta Corral
--Zayra Manuela Gómez López
--Dante Eduardo Dolores Meza
--Ana Maribel Cedillo Núñez 
--Rodrigo Ismael Silva Ugarte

SELECT c.nombre, --Seleccionas las tabalas que vas unir
c.apellido,
f.id_factura,
p.id_producto,
p.nombre
FROM cliente c  --Tabla principal
INNER JOIN factura f ON c.id_cliente = f.id_cliente --Uni la tabla factura para pasar las facturas de cada cliente
INNER JOIN detalle d ON d.id_detalle = f.id_detalle  --Uni la tabla detalle para hacer puente con la de producto, donde sacaría el nombre de cada producto
INNER JOIN producto p ON p.id_producto = d.id_detalle --Uni la tabla producto para poder anexar el nombre de esta tabla
WHERE c.id_cliente IN (2, 17, 24,4,11) --estos son los ID de cada cliente respectivamente
ORDER BY c.nombre ASC, id_factura ASC;

SELECT * FROM cliente
SELECT * FROM detalle
SELECT * FROM producto
SELECT * FROM factura



--5.- Seleccionar el producto que más ventas ha tenido.
SELECT id_producto, COUNT(*) AS veces_vendido
FROM Detalle
GROUP BY id_producto
ORDER BY veces_vendido DESC;

SELECT p.nombre, d.id_producto, COUNT(*) AS veces_vendido
FROM detalle d
JOIN producto p ON d.id_producto = p.id_producto
GROUP BY p.nombre, d.id_producto
ORDER BY veces_vendido DESC;

ALTER TABLE producto
ALTER COLUMN nombre VARCHAR(150) --Se cambio porque estaba en un tipo de dato incorrecto para hacer la consulta

sp_help producto --verifique el tipo de dato



--6.- ¿Qué producto tienen más cantidad en stock?
SELECT * FROM producto
ORDER BY stock DESC;

--7.- Ordenar, de la más antigua a la más reciente, las compras que ha habido en la tienda.
SELECT * FROM factura
ORDER BY fecha ASC;

--8.- Ordenar alfabéticamente los nombres de todos los clientes de la tienda.
ALTER TABLE cliente
ALTER COLUMN nombre NVARCHAR(200); --Se cambio el tipo de dato a NVARCHAR ya que me daba erro cuando hacia un SELECT en nombre.

SELECT * FROM cliente
ORDER BY nombre ASC;

--9.- Seleccionar cuáles productos pertenecen a cada categoría: 
--Falda 
--Pantalón 
--Chamarra
--Zapatos
--Accesorios

SELECT p.id_categoria,--Seleccionas las tabalas que vas unir
p.nombre, 
p.id_producto,
c.nombre,
c.descripcion
FROM producto p  --Tabla principal
INNER JOIN categoria c ON p.id_categoria = c.id_categoria -- Se hace la conexión entre tablas con la id_categoria de producto y la id_categoria de categoria.
WHERE c.nombre IN ('Falda', 'Zapato', 'Pantalón', 'Chamarra','Accesorios') --Seleccionas el nombre de la categoria que quieres organizar
ORDER BY p.id_producto ASC  --Por ultimo lo organizas de forma ascendente por medio del id_producto.

SELECT * FROM producto
SELECT * FROM categoria

sp_help categoria --verifique el tipo de dato

ALTER TABLE categoria
ALTER COLUMN nombre VARCHAR(150)--Se cambio porque estaba en un tipo de dato incorrecto para hacer la consulta en el ejercicio 9, tipo de dato texto se cambio a varchar.


--10.- Seleccionar los encargados de las sucursales de la tienda Akira’s Boutique
SELECT  nombre_sucursal, nombre_encargado  
FROM Sucursales

--11.- Seleccionar los empleados que trabajan en la sucursal de Akira’s Boutique: Constitución
SELECT  nombre_empleado, numero_sucursal, nombre_encargado
FROM Empleados
WHERE numero_sucursal= 6

--12.- ¿Qué clientes son mayores de 30 años?
SELECT * FROM cliente
WHERE edad

SELECT *
FROM cliente
WHERE fec_nac <= '1995-09-24'
